---
layout: default
---

<div class="well well-lg">
	<div class="row">

		<div class="col-xs-3">
			{% include btn-add-new-widget.html url="add-new-widget.html" %}
		</div>

		<div class="col-xs-3">

			<div class="panel panel-default">
			  {% include panel-heading.html %}
			  <div class="panel-body">
				{% include widget-data-source.html %}
				<br />
				{% include target.html %}
				<br />
				{% include quick-filters.html %}
				<br />
				{% include widget-type.html %}
				<br />
				{% include widget-size.html active=include.colspan %}
				<br />
				<a href="saved-a-widget-pos2.html" class="btn btn-default btn-lg">Save this item</a> or <a href="index.html">Cancel</a>
			  </div>
			</div>
		</div>

  	  	<div class="col-xs-3">
  			{% include btn-add-new-widget.html url="add-new-widget-in-pos3.html" %}
	  	</div>
  	  	<div class="col-xs-3">
	  		{% include btn-add-new-widget.html url="add-new-widget-in-pos4.html" %}
	  	</div>

	</div>
</div>