<div class="well well-lg">
	<div class="row">

		<div class="col-xs-{{ include.colspan }}">

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Add new item</h3>
			  </div>
			  <div class="panel-body">
				{% include widget-data-source.html %}
				<br />
				{% include widget-type.html %}
				<br />
				{% include quick-filters.html %}
				<br />
				{% include widget-size-2.html %}
				<br />
				{% include target.html %}
				<br />
				{% include btn-save-yet-another-widget.html %}
			  </div>
			</div>

		</div>

		{% if include.colspan == "3" %}
			{% include empty-widget.html %}
		{% endif %}

	</div>
</div>