<div class="well well-lg">
	<div class="row">

		<div class="col-xs-{{ include.colspan }}">

			<div class="panel panel-default">
			  {% include panel-heading.html %}
			  <div class="panel-body">
				{% include widget-data-source.html specific="add-another-widget-specific-date.html" over="add-another-widget.html" %}
				<br />
				{% include widget-type.html %}
				<br />
				{% include quick-filters.html type="specific" %}
				<br />
				{% include target.html %}
				<br />
				{% include btn-save-another-widget.html %}
			  </div>
			</div>

		</div>

		{% include empty-widgets-2.html %}

	</div>
</div>