<div class="well well-lg">
	<div class="row">

		{% include bar-chart.html close="index.html" %}

		<div class="col-xs-{{ include.colspan }}">

			<div class="panel panel-default">
			  {% include panel-heading.html %}
			  <div class="panel-body">
				{% include widget-data-source.html %}
				<br />
				{% include target.html %}
				<br />
				{% include widget-type.html %}
				<br />
				{% include btn-save-another-widget.html %}
			  </div>
			</div>

		</div>

		{% include empty-widgets-2.html %}

	</div>
</div>