<div class="well well-lg">
	<div class="row">

		<div class="col-xs-{{ include.colspan }}">

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Add new item</h3>
			  </div>
			  <div class="panel-body">
				{% include widget-data-source.html specific="add-new-widget-specific-date.html" over="add-new-widget.html" %}
				<br />
				{% include widget-type.html %}
				<br />
				{% include quick-filters.html type="over" %}
				<br />
				{% include widget-size.html active=include.colspan %}
				<br />
				{% include btn-save-widget.html %}
			  </div>
			</div>

		</div>

		{% include empty-widgets.html %}

	</div>
</div>