<div class="well well-lg">
	<div class="row">

		<div class="col-xs-{{ include.colspan }}">
metrics, date, type of chart, layout
			<div class="panel panel-default">
			  {% include panel-heading.html %}
			  <div class="panel-body">
				{% include widget-data-source.html %}
				<br />
				{% include target.html %}
				<br />
				{% include quick-filters.html %}
				<br />
				{% include widget-type.html %}
				<br />
				{% include widget-size.html active=include.colspan %}
				<br />
				{% include btn-save-widget.html %}
			  </div>
			</div>

		</div>

		{% include empty-widgets.html %}

	</div>
</div>