<div style="margin-bottom: 3em; margin-top: 1em;">
	<span class="glyphicon glyphicon-signal" style="font-size: 15em; text-align: center;"></span>
	<span style="position: absolute; left: 6em; top: 4em;"><strong>66%</strong> of target reached</span>
	<span style="position: absolute; left: 3em; bottom: 3em;">0</span>
	<span style="position: absolute; left: 0.5em; bottom: 10em;">100,000</span>
	<span style="position: absolute; left: 0.5em; bottom: 17em;">200,000</span>
	<span style="position: absolute; left: 0.5em; bottom: 13.8em; color: grey;">target</span>
	<hr style="position: absolute; left: 4.5em; bottom: 13em; border: dashed 1px grey; right: 3.5em;">
	<div>
		<span style="position: absolute; left: 5em;">Sep</span>
		<span style="position: absolute; right: 4em;">Nov</span>
		<span style="position: absolute; right: 7em; bottom: 0;"><strong>Target:</strong> 150,000</span>
	</div>
</div>