<div class="col-xs-3" style="text-align: center;">
<!-- 	<div class="btn-toolbar">
		<div class="btn-group">
			<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span></a>		
			<a href="{{ include.close }}" class="btn btn-default"><span class="glyphicon glyphicon-remove-sign"></span></a>		
		</div>
	</div>
 -->
	<div class="btn-group" role="group" aria-label="Date filter">
		<button type="button" class="btn btn-default">1d</button>
		<button type="button" class="btn btn-default">1w</button>
		<button type="button" class="btn btn-default active">1m</button>
		<button type="button" class="btn btn-default">All</button>
	</div>		
	<p>Ending Nov 2014</p>
	<span class="glyphicon glyphicon-stats" style="font-size: 15em; text-align: center;"></span>
</div>