<div class="col-xs-3" style="text-align: center;">

	<div style="text-align: right;" class="btn-group">
		<a href="#" class="btn btn-default">Copy <span class="glyphicon glyphicon-sound-stereo"></span></a>
		<a href="{{ include.close }}" class="btn btn-default">Remove <span class="glyphicon glyphicon-remove-sign"></span></a>
	</div>

	<h2>Title of the widget</h2>

	<div class="btn-group" role="group" aria-label="Date filter">
		<button type="button" class="btn btn-default">1d</button>
		<button type="button" class="btn btn-default">1w</button>
		<button type="button" class="btn btn-default active">1m</button>
		<button type="button" class="btn btn-default">All</button>
	</div>		
	<p>Ending Nov 2014</p>
	<span class="glyphicon glyphicon-stats" style="font-size: 15em; text-align: center;"></span>

	<a href="#" class="btn btn-lg"></a>	

	<div style="text-align: right;" class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    Export <span class="glyphicon glyphicon-share-alt"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="#">1m as PNG</a></li>
	    <li><a href="#">1m as CSV</a></li>
	    <li><a href="#">1m as JSON</a></li>
	    <li><a href="#">All data as CSV</a></li>
	    <li><a href="#">All data as JSON</a></li>
	  </ul>
	</div>
</div>