<div class="col-xs-3 panel panel-default" style="text-align: center;" draggable="true">

	{% include bar-chart-title.html edit=include.edit next=include.next prev=include.prev %}

	<br />

	{% include bar-chart-chart.html %}

	

	<div class="btn-group" style="float: right; position: relative; top: -1em;a">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    <span style="color: black;" class="glyphicon glyphicon-resize-horizontal"></span></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" style="left: -11.5em;">
		<li><a href="#">Resize to 2 columns wide</a></li>
		<li><a href="#">Resize to 3 columns wide</a></li>
		<li><a href="#">Resize to 4 columns wide</a></li>
	  </ul>
	</div>

</div>