<div style="margin-bottom: 3em; margin-top: 1em;">
	<span class="glyphicon glyphicon-signal" style="font-size: 15em; text-align: center;"></span>
	<span style="position: absolute; left: 6em; bottom: 21em; color: grey;"><strong>66%</strong> of target reached</span>
	<span style="position: absolute; left: 3em; bottom: 5em;">0</span>
	<span style="position: absolute; left: 0.5em; bottom: 12em;">100,000</span>
	<span style="position: absolute; left: 0.5em; bottom: 19em;">200,000</span>
	<span style="position: absolute; left: 0.5em; bottom: 15.8em; color: grey;">150,000</span>
	<hr style="position: absolute; left: 4.5em; bottom: 15em; border: dashed 1px grey; right: 3.5em;">
	<div>
		<span style="position: absolute; left: 5em;">Sep</span>
		<span style="position: absolute; right: 11.3em;">Oct</span>
		<span style="position: absolute; right: 7.7em;">Nov</span>
		<span style="position: absolute; right: 4em;">Dec</span>
	</div>
</div>

<div class="popover right" style="display:block; color: green; top: 17em; left: 22em; right: -18em;">
  <div class="arrow"></div>
  <div class="popover-content">
    <p>Target shown as:</p>
    <ul>
    	<li>text above chart, with %</li>
    	<li>tickmark on axis</li>
    	<li>line through charts</li>
    </ul>
  </div>
</div>

<div class="popover right" style="display:block; color: green; top: 27em; left: 22em; right: -18em;">
  <div class="arrow"></div>
  <div class="popover-content">
    <p>Button for resizing. Ideally draggable, but for now just button-like options</p>
  </div>
</div>