<div class="panel-heading clearfix" style="text-align: left; margin-right: -15px; margin-left: -15px;">
	<h3 class="panel-title" style="float: left; position: relative;
top: 0.5em;">Title of item <a href="save-a-widget-title-editing.html" style="margin-left: 1em; color: #337ab7;"></a></h3>

	<div style="text-align: right; float: right; margin-left: 1em;">
		<span class="glyphicon glyphicon-move"></span>
	</div>

	<div style="text-align: right; float: right;" class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    Export <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" style="left: -13em; width: 18.5em;
}">
	  	<li><h5 style="padding-left: 1em;">All data</h5></li>
	    <li><a href="#">As CSV (for spreadsheets)</a></li>
	    <li><a href="#">As JSON (for developers)</a></li>
	  	<li role="presentation" class="divider"></li>
	  	<li><h5 style="padding-left: 1em;">2014-09-01 to 2014-12-04</h5></li>
	  	<li><a href="#">As SVG (image, for reports)</a></li>
	    <li><a href="#">As CSV (for spreadsheets)</a></li>
	    <li><a href="#">As JSON (for developers)</a></li>
	  </ul>
	</div>
</div>