<header class="clearfix">
  <div style="float: left;">
    <input type="text" value="{{ site.title }}" style="margin: 2em 1em 2em 1em; width: 15em;"> <a href="edit-visibility.html" class="btn btn-default">Update</a>    
  </div>

  <ul class="navbar-right list-inline col-xs-6" style="margin-top: 2em;">
      <li><strong>Shared with:</strong></li>
      <li>justin@praekelt.com;</li>
      <li>susan@unicef.org.</li>
      <li><a href="edit-visibility.html" class="btn btn-default">Change <span class="glyphicon glyphicon-edit"></span></a></li>
   </ul>
</header>

<nav class="navbar navbar-default" role="navigation" style="clear: both;">
  <div style="padding: 1em;">
    <div class="container-fluid">

    <div class="nav col-xs-6">
      <div class="btn-group" role="group" aria-label="...">
        <a href="index.html" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add another dashboard for <strong>ProjectName</strong></a>
        <a href="dashboard2-filled.html" class="btn btn-default">Make a copy of this dashboard <span class="glyphicon glyphicon-share-alt"></span></a>
      </div>
    </div>

    <div class="navbar-right">
      <a href="edit-widgets.html" class="btn btn-default">Edit widgets</a>
    </div>

    </div>
  </div>
</nav>