<header class="site-header">

  <div class="wrapper">

    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <h1><a href="./" class="navbar-brand">{{ site.title }}</a></h1>
      </div>

      <ul class="list-inline navbar-right" style="margin-top: 2em;">
    		<li><strong>Shared with:</strong></li>
    		<li>justin@praekelt.com (admin);</li>
    		<li>susan@unicef.org</li>
  	 </ul>
    </div>
  </header>

  </div>

</header>
