<header>
  <h1><a href="./" class="navbar-brand">{{ site.title }}</a></h1>

  <ul class="navbar-right list-inline col-xs-6">
      <li><strong>Shared with:</strong></li>
      <li>justin@praekelt.com;</li>
      <li>susan@unicef.org.</li>
   </ul>

   <ul class="navbar-right list-inline col-xs-6">
      <li><label for="share-email">Email address:</label></li>
      <li><input type="email" id="share-email" placeholder="user@example.com" /></li>
      <li><a class="btn btn-default" href="added-an-email.html">Add</a></li>
   </ul>
     
  <div class="popover bottom" style="display:block; color: green; right: 20em; left: auto; top: 5em;">
    <div class="arrow"></div>
    <div class="popover-content">
      <p>Label explaining, plus placeholder example</p>
    </div>
  </div>

</header>


<nav class="navbar navbar-default" role="navigation" style="clear: both;">
  <div style="padding: 1em;">
    <div class="container-fluid">
    <div class="nav col-xs-6">
      <div class="btn-group" role="group" aria-label="...">
        <a href="dashboard2.html" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New dashboard for <strong>ProjectName</strong></a>
        <a href="dashboard2-filled.html" class="btn btn-default">Copy this dashboard <span class="glyphicon glyphicon-share-alt"></span></a>
      </div>
    </div>


    </div>
  </div>
</nav>