<h1><a href="./" class="navbar-brand">{{ site.title }}</a></h1>

<nav class="navbar navbar-default" role="navigation" style="clear: both;">
  <div style="padding: 1em;">
    <div class="container-fluid">
    <div class="nav col-xs-6">
      <div class="btn-group" role="group" aria-label="...">
        <a href="dashboard2.html" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add another dashboard</a>
        <a href="dashboard2-filled.html" class="btn btn-default">Make a copy of this dashboard <span class="glyphicon glyphicon-share-alt"></span></a>
      </div>
    </div>

    <ul class="navbar-right list-unstyled col-xs-6">
      <li><strong>Share with:</strong></li>
      <li>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            Admin-level users (justin@praekelt.com)
          </label>
        </div>
      </li>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            All users (justin@praekelt.com, susan@unicef.org)
          </label>
        </div>
      <li>
        <a href="index.html" class="btn btn-default">Update</a>
      </li>

   </ul>



    </div>
  </div>
</nav>