<nav class="navbar navbar-default" role="navigation">
  <div style="padding: 1em;">
    <div class="container-fluid">

    <div class="nav col-xs-6">
      <h1><a href="./" class="navbar-brand">{{ site.title }}</a></h1>
      <a href="index.html" style="margin: 1em 0 0 2em; display: inline-block;"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add a new, empty, dashboard for this project</a>
    </div>

    <ul class="nav navbar-nav navbar-right list-inline" style="margin-top: 2em;">
      <li><strong>Shared with:</strong></li>
      <li>justin@praekelt.com (admin);</li>
      <li>susan@unicef.org.</li>
   </ul>

    </div>
  </div>
</nav>