<div class="panel-heading clearfix">
	<input type="text" value="Title of item" class="form-control"> 

		<a style="position: absolute; top: -0.5em; right: -0.5em; font-size: 1.5em; color: black;" href=""><span class="glyphicon glyphicon-remove-sign"></span></a>

	    <div class="popover top" style="display:block; color: green; top: -4em;">
	      <div class="arrow"></div>
	      <div class="popover-content">
	        <p>Title can be edited here. <span class="glyphicon glyphicon-remove-sign"></span> in the corner for deleting a widget.</p>
	      </div>
	    </div>

</div>