<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Quick filter to <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">+1 day</a></li>
    <li><a href="#">+1 week</a></li>
    <li><a href="#">+1 month</a></li>
    <li><a href="#">+1 quarter</a></li>
    <li><a href="#">+1 year</a></li>
    <li><a href="#">to end of year</a></li>
    <li><a href="#">to end of quarter</a></li>
    <li><a href="#">to end of project</a></li>
  </ul>
</div>