<div class="well well-lg" style="position: relative;">
	<div class="row">
	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget-in-second-row.html" %}
	  </div>
  	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget-in-second-row.html" %}
	  </div>
  	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget-in-second-row.html" %}
	  </div>
  	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget-in-second-row.html" %}
	  </div>
	</div>

<div class="popover top" style="display:block; color: green; left: 2em; top: -4em;">
  <div class="arrow"></div>
  <div class="popover-content">
    <p>A new row appears once there's a widget in the preceding row.</p>
  </div>
</div>

</div>