<div class="well well-lg">
	<div class="row">
	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget-in-second-row.html" %}
	  </div>
  	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget-in-second-row.html" %}
	  </div>
  	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget-in-second-row.html" %}
	  </div>
  	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget-in-second-row.html" %}
	  </div>
	</div>
</div>