<div class="well well-lg">
	<div class="row">
	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget.html" %}
	  </div>
  	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget-in-pos2.html" %}
	  </div>
  	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget-in-pos3.html" %}
	  </div>
  	  <div class="col-xs-3">
	  	{% include btn-add-new-widget.html url="add-new-widget-in-pos4.html" %}
	  </div>
	</div>
</div>

<div class="popover bottom" style="display:block; color: green; bottom: -3em; top: auto; left: 3em;">
	<div class="arrow"></div>
	<div class="popover-content">
	  <p>Add new item buttons are big, the size of a widget.</p>
	</div>
</div>