<div style="text-align: right;" class="btn-group">
	<div style="text-align: right;" class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    Export <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	  	<li><a href=""><strong>as SVG</strong> (image, for reports)</a></li>
	    <li><a href="#"><strong>as CSV</strong> (for spreadsheets)</a></li>
	    <li><a href="#"><strong>as JSON</strong> (for developers)</a></li>
	  </ul>
	</div>
	<a href="{{ include.edit }}" class="btn btn-default">Edit <span class="glyphicon glyphicon-edit"></span></a>
	<a href="{{ include.close }}" class="btn btn-default">Remove <span class="glyphicon glyphicon-remove-sign"></span></a>
</div>

<br /><br />