<div style="text-align: right;" class="btn-group">
	<div style="text-align: right;" class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    Export <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="#">as PNG</a></li>
	    <li><a href="#">as CSV</a></li>
	    <li><a href="#">as JSON</a></li>
	  </ul>
	</div>
	<a href="{{ include.edit }}" class="btn btn-default">Edit <span class="glyphicon glyphicon-edit"></span></a>
	<a href="{{ include.close }}" class="btn btn-default">Remove <span class="glyphicon glyphicon-remove-sign"></span></a>
</div>

<br /><br />