<div class="input-group" style="max-width: 250px;">
	{% include layout-text.html %}
	<div class="btn-group" role="group" aria-label="Widget size">
	  <a href="add-new-widget.html" class="btn btn-default col-xs-3 {% if include.active == "3" %}active{% endif %}"><img src="layout-1.png" style="width: 100%;" /></a>
	  <a href="add-new-widget-2.html" class="btn btn-default col-xs-3 {% if include.active == "6" %}active{% endif %}"><img src="layout-2.png" style="width: 100%;" /></a>
	  <a href="add-new-widget-3.html" class="btn btn-default col-xs-3 {% if include.active == "9" %}active{% endif %}"><img src="layout-3.png" style="width: 100%;" /></a>
	  <a href="add-new-widget-4.html" class="btn btn-default col-xs-3 {% if include.active == "12" %}active{% endif %}"><img src="layout-4.png" style="width: 100%;" /></a>
	</div>
</div>