{% if include.type == "specific" %}
<div class="input-group">
	<label>Item type</label>
	<select class="form-control">
		<option value="">Bar chart</option>
		<option value="">Stacked Bar chart</option>
		<option value="">Pie chart</option>
		<option value="">Line chart</option>
		<option value="">Last value chart</option>
		<option value="">Text block</option>
	</select>
</div>
{% endif %}

{% if include.type == "range" %}
<div class="input-group">
	<label>Item type</label>
	<select class="form-control">
		<option value="">Bar chart</option>
		<option value="">Stacked Bar chart</option>
		<option value="">Line chart</option>
	</select>
</div>
{% endif %}