<label>
  <h4>Item type</h4>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Bar Chart <img style="width: 20px; margin: 0 1em; text-align: right;" src="bar.png" alt="">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bar Chart <img style="width: 20px; margin: 0 1em; text-align: right;" src="bar.png" alt=""></a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Stacked Bar Chart <img style="width: 20px; margin: 0 1em; text-align: right;" src="stacked-bar.png" alt=""></a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pie Chart <img style="width: 20px; margin: 0 1em; text-align: right;" src="pie.png" alt=""></a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Line Chart <img style="width: 20px; margin: 0 1em; text-align: right;" src="line.png" alt=""></a></li>
    </ul>
  </div>
</label>
<br />