<div class="input-group">
	<label><h4>Metric group</h4></label>

	<select name="" id="">
		<option value="">Gender</option>
		<option value="">Age</option>
		<option value="">Favourite Colour</option>
	</select>

</div>

<br />

<h4>Metric filter</h4>
<div class="input-group">
	<label for="widget-metric-filter-1" class="control-label">
		<input type="checkbox" checked="checked" id="widget-metric-filter-1" name="widget-metric-filter-1">
	Male
	</label>	
</div>
<div class="input-group">
	<label for="widget-metric-filter-2" class="control-label">
		<input type="checkbox" checked="checked" id="widget-metric-filter-2" name="widget-metric-filter-2">
		Female
	</label>
</div>